<ion-header>
  <ion-navbar color="primary">
    <ion-title>Inicio sesion</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
<div padding class="auth-page" >

 <img src="assets/imgs/lsascha.png" class="logo" alt="sascha" class="img-logo">

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.touched"
      [class.valid]="loginForm.controls.email.valid && loginForm.controls.email.touched">
      <ion-label stacked>Correo</ion-label>
      <ion-input formControlName="email" type="email" placeholder="tu correo electronico">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
     loginForm.controls.email.touched">
      <p>Porfavor ingrese un correo electronico valido.</p>
    </ion-item>

    <ion-item [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.touched"
      [class.valid]="loginForm.controls.password.valid && loginForm.controls.password.touched">
      <ion-label stacked>Contraseña</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Tu contraseña">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
    && loginForm.controls.password.touched">
      <p>Tu contraseña debe ser de mas de 6 caracteres.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Inicio Sesion
    </button>
  </form>

  <button ion-button block clear (click)="goToSignup()">
    Suscribirse a Sascha
  </button>

  <button ion-button block clear (click)="logout()">
    No recuerdo mi contraseña :(
  </button>
</div>
</ion-content>