<ion-header>
  <ion-toolbar color="blanco">
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Volver</span>
           <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
     </ion-buttons>
     <ion-avatar item-start >
        <img class="logo-menu" src="https://res.cloudinary.com/saschanutric/image/upload/v1524779283/logosascha.png">
     </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card text-wrap class="comidas" *ngFor="let grupo of grupo_alimenticios">
      <h2 align="center">{{grupo.nombre}} {{grupo.cantidad}} {{ grupo.unidad_abreviatura }}</h2>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let a of grupo.alimentos" >
            <h3 align="center"> {{a.nombre}} </h3>      
          </ion-col>
        </ion-row>  
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>