<ion-header>
  <ion-navbar color="blanco">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-avatar item-start >
      <img class="logo-menu" src="https://res.cloudinary.com/saschanutric/image/upload/v1524779283/logosascha.png">
   </ion-avatar> 
    <ion-buttons end>
      <button ion-button icon-only (click)="verNotificaciones()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="plan">
  <ion-item>
    <h2 align="center">Mi Plan</h2>
  </ion-item>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="plan">
      <ion-segment-button ngSelected="selected" value="comida">Comida</ion-segment-button>
      <ion-segment-button value="suplementos">Suplementos</ion-segment-button>
      <ion-segment-button value="actividades">Actividades</ion-segment-button>
    </ion-segment>
  </ion-toolbar>  
  <div [ngSwitch]="plan">
    <ion-list *ngSwitchCase="'comida'"> 
      <ion-list>
        <a ion-item *ngFor="let c of comidas" (click)="openModal({ grupo_alimenticios: c.grupos_alimenticios })">{{ c.nombre }}</a>
      </ion-list>
    </ion-list>
    <ion-item *ngSwitchCase="'suplementos'">
        <ion-card *ngFor="let s of suplementos" >
          <h2 align="center">{{ s.nombre }}</h2>
          <p align="center">Tomar {{ s.frecuencia }} pastilla al dia</p>
          <p align="center">{{ s.cantidad }} {{s.unidad_abreviatura}}</p>
        </ion-card>
    </ion-item>
    <ion-item *ngSwitchCase="'actividades'">
        <ion-card *ngFor="let s of actividades" >
          <h2 align="center">{{ s.nombre }}</h2>
          <p align="center">{{ s.cantidad }} {{ s.unidad }} todos los dias</p>
          <p align="center" text-wrap style="margin-left: 5%;margin-right: 5%;">{{ s.descripcion }}</p>
        </ion-card>
    </ion-item>
  </div>
</ion-content>