<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-avatar item-start>
      <img class="logo" src="assets/imgs/lsascha.png">
    </ion-avatar>
  </ion-navbar>
</ion-header>
<ion-content class="plan">
  <ion-title> Mi Plan </ion-title>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="comi">
      <ion-segment-button value="comida">
        Comida
      </ion-segment-button>
      <ion-segment-button value="suplementos">
        Suplementos
      </ion-segment-button>
      <ion-segment-button value="actividades">
        Actividades
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>  
  <div [ngSwitch]="comi">
    <ion-list *ngSwitchCase="'comida'"> 
      <ion-list>
        <a ion-item (click)="openModal({charNum: 0})">Desayuno</a>
        <a ion-item (click)="openModal({charNum: 1})">Almuerzo</a>
        <a ion-item (click)="openModal({charNum: 2})">Cena</a>
        <a ion-item (click)="openModal({charNum: 3})">Meriendas</a>
      </ion-list>
    </ion-list>
    <ion-item *ngSwitchCase="'suplementos'">
        <ion-card *ngFor="let s of suplementos" >
          <h2>{{ s.nombre }}</h2>
          <p>Tomar {{ s.cantidad }} pastilla al dia</p>
        </ion-card>
    </ion-item>

    <ion-item *ngSwitchCase="'actividades'">
        <ion-card *ngFor="let s of actividades" >
          <h2>{{ s.nombre }}</h2>
          <p>{{ s.cantidad }} {{ s.unidad }} todos los dias</p>
        </ion-card>
    </ion-item>
  </div>
</ion-content>
