<ion-header>
  <ion-navbar>
    <ion-title>Valoracion</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<div>
   <ion-item >
    <ion-card *ngFor="let c of criterios">
      <ion-label text-wrap>{{c.descripcion}}</ion-label>
      <ion-item>
        <ion-label text-wrap>Valoracion</ion-label>
        <ion-select>
          <ion-option *ngFor="let ca of c.valoraciones" (ionSelect)="selectView('c.valoraciones',ca);" value="{{ca.id_criterio_valoracion}}">{{ca.nombre}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-card>

    
     <!--div>
	   <ion-card *ngFor="let c of criterios">
	       <br>
           <h2 align="center" text-wrap>{{ c.descripcion }}</h2>
           <ion-item *ngFor="let ca of c.valoraciones"> 
	           <ion-label>{{ ca.nombre}}</ion-label>
  		   	   <ion-option></ion-option>
           </ion-item>
      </ion-card>
     </div-->

   </ion-item>
	<ion-row>
		<ion-col center text-center>
    		<button ion-button color="third" block (click)="dismiss()" >Cancelar</button>
  	 	</ion-col>
  	 	<ion-col center text-center>
  			<button type="submit" ion-button icon-left block (click)="enviar(v)">
  			<ion-icon name="send"></ion-icon>Enviar</button>
  	 	</ion-col>
    </ion-row>
</div>
</ion-content>
