<ion-header>
  <ion-navbar color="blanco">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-avatar item-start >
      <img class="logo-menu" src="https://res.cloudinary.com/saschanutric/image/upload/v1524779283/logosascha.png">
   </ion-avatar> 
    <ion-buttons end>
      <button ion-button icon-only (click)="verNotificaciones()" >
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (click)="ngOnInit()" >
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="fondoev">
  <ion-item>
  	<h2 align="center">Mi Evolucion</h2>
  </ion-item>
  <div>

    <ion-segment [(ngModel)]="evolucion">
      <ion-segment-button  (click)="showSegment('perfil')" value="perfil">Perfil</ion-segment-button>
      <ion-segment-button (click)="showSegment('visita')" value="visita">Visitas</ion-segment-button>
    </ion-segment>
  </div>

<div [ngSwitch]="evolucion">
  <ion-list *ngSwitchCase="'perfil'">
    <ion-item *ngFor="let p of perfiles" >
      <ion-card>
        <ion-grid>
           <ion-row>
              <ion-item>
                 <h2 align="center">{{ p.parametro.tipo_parametro }}</h2>
               </ion-item>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p align="center">{{ p.parametro.nombre }}</p>
                </ion-col>
                <ion-col *ngIf="p.valor != null">
                    <p align="center">{{ p.valor }} {{p.unidad}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'visita'">
    <ion-item *ngIf="proximaVisita != null" >
      <ion-card class="nueva">
        <h2 align="center" style="color: white;">VISITA #{{proximaVisita.numero}}</h2>
        <span ion-datepicker
          (ionChanged)="setDate($event);"
          [max]="maxDate" 
          [min]="min"
          [value]="initDate"
          [showMaxAndMin]="true"
          [disabledDates]="disabledDates"
          [markDates]="markDates"
          [okText]="Aceptar"
          [cancelText]="Cancelar"
          [localeStrings]="{ weekdays: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom'], months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'], monday:true }"
          clear
          class="ScheduleDate">
          <span style="color: white;">
            {{initDate | date: 'dd/MM/yyyy' }} 
            <ion-icon name="calendar" item-left></ion-icon> 
             Reprogramar
          </span>
        </span>
      </ion-card>
    </ion-item>
    <ion-item *ngFor="let v of visitas" >
      <ion-card class="anterior">
        <button ion-button clear style="color: white" (click)="doCheckbox(v)">Visita #{{v.numero}}</button>
        <p align="center" style="color: white">{{v.fecha_atencion}}</p>
      </ion-card>
    </ion-item>
  </ion-list>
</div>
<ion-fab right bottom style="position: relative; top: 80%; right: -78%;" *ngIf="proximaVisita != null">
      <button ion-fab mini color="third" (click)="verMeta(proximaVisita.metas)">Meta</button>  
</ion-fab>
</ion-content>