<ion-header>
  <ion-navbar color="blanco">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-avatar item-start >
      <img class="logo-menu" src="https://res.cloudinary.com/saschanutric/image/upload/v1524779283/logosascha.png">
   </ion-avatar> 
    <ion-buttons end>
      <button ion-button icon-only (click)="verNotificaciones()" >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="seg_servicio" >
      <ion-segment-button  value="servi">{{ titulo_servicio }}</ion-segment-button>
      <ion-segment-button value="promocion" (click)="showSegment()" >Promociones</ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="seg_servicio">
    <ion-list *ngSwitchCase="'servi'">
      <ion-item *ngFor="let s of services" >
        <div (click)="showDetail(s)" >
          <h2 align="center" text-wrap>{{ s.nombre }}</h2>
          <ion-item>
            <ion-thumbnail item-start align-items-center>
              <img src="{{ s.url_imagen }}" >
            </ion-thumbnail>
            <p text-wrap>{{ s.descripcion }}</p>
          </ion-item>
        </div>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'promocion'">
      <ion-item *ngFor="let p of promos" >
        <div (click)="verPromocion(p)" >
          <h2 align="center" text-wrap>{{ p.nombre }}</h2>
          <ion-item>
            <ion-thumbnail item-start align-items-center>
              <img src="{{ p.servicio.url_imagen }}" >
            </ion-thumbnail>
            <p text-wrap>{{ p.descripcion }}</p>
          </ion-item>
        </div>
      </ion-item>
    </ion-list>
  </div>  
  <ion-fab right bottom>
      <button ion-fab mini (click)="showFilter()"><ion-icon name="ios-funnel-outline"></ion-icon></button>  
  </ion-fab>
  <ion-fab bottom style="position: relative; top: 77%; right: -80%;">
    <button ion-fab mini (click)="showServicio()" ><ion-icon name="{{ico}}"></ion-icon></button>
  </ion-fab>
</ion-content>