<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-avatar item-start >
      <img class="logo" src="assets/imgs/lsascha.png">
    </ion-avatar>
    <ion-buttons end>
      <button ion-button icon-only (click)="verNotificaciones()" >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content  padding>
  
    <div>
      <ion-segment [(ngModel)]="Servicios">
         <ion-segment-button  value="servi">Servicios</ion-segment-button>
         <ion-segment-button value="promocion">Promociones</ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="Servicios">
      <ion-list *ngSwitchCase="'servi'">
        <ion-item *ngFor="let s of services" >
          <div (click)="showDetail(s)" >
            <h2 align="center" text-wrap>{{ s.titulo }}</h2>
            <ion-item>
            <ion-thumbnail item-start align-items-center>
               <img src="{{ s.img }}" >
            </ion-thumbnail>
            <p text-wrap>{{ s.descripcion }}</p>
          </ion-item>
        </div>
       </ion-item>
      </ion-list>
    </div>  
    <div [ngSwitch]="Promociones">
      <ion-list *ngSwitchCase="'promocion'">
        <ion-item *ngFor="let p of promos" >
          <div (click)="verPromocion(p)" >
            <h2 align="center" text-wrap>{{ p.titulo }}</h2>
            <ion-item>
            <ion-thumbnail item-start align-items-center>
               <img src="{{ p.img }}" >
            </ion-thumbnail>
            <p text-wrap>{{ p.descripcion }}</p>
          </ion-item>
        </div>
       </ion-item>
      </ion-list>
    </div>  
<ion-fab right bottom>
  <button ion-fab mini (click)="showFilter()"><ion-icon name="ios-funnel-outline"></ion-icon></button>
</ion-fab>

</ion-content>
