.page-servicio {

.ion-avatar {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.ion-list {
	.ion-item {
 		.ion-card {
 			.ion-grid {
 				.ion-row {
 					.ion-avatar {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
 				}
 			}
 		}
 	}
}

}