<ion-menu *ngIf="showMenu == 1" [content]="content">
  <ion-header>
    <ion-avatar item-start style="background: #7ab740;">
      <img class="logo-menu" src="assets/imgs/lsascha.png">
    </ion-avatar>
  </ion-header>
  <ion-content>
    <div class="app-menu">
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item  (click)="logout()">
        Cerrar Sesion
      </button>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>