<ion-header>
  <ion-navbar color="blanco">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-avatar item-start >
      <img class="logo" src="https://res.cloudinary.com/saschanutric/image/upload/v1524779283/logosascha.png">
    </ion-avatar>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-list>
    <button ion-item *ngFor="let noti of notificaciones">
      <ion-item>
        <ion-avatar item-start>
          <h2 style="text">
            <ion-icon *ngIf="noti.tipo_notificacion == 1" name="medkit"></ion-icon>
            <ion-icon *ngIf="noti.tipo_notificacion == 2" name="pricetags"></ion-icon>
            <ion-icon *ngIf="noti.tipo_notificacion == 3" name="start"></ion-icon>
          </h2>
        </ion-avatar>
        <div>
          <h2 style="font-weight: bold;" align="center">{{noti.titulo}}</h2>
        </div>
        <div>
           <h3 text-wrap>{{noti.mensaje}}</h3>
           <h3>Descuento: </h3>
           <h3>aqui va el descuento</h3>
        </div>
      </ion-item> 
    </button>
  </ion-list>
</ion-content>

