<ion-header>
  <ion-navbar color="blanco">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-avatar item-start >
      <img class="logo-menu" src="https://res.cloudinary.com/saschanutric/image/upload/v1524779283/logosascha.png">
   </ion-avatar> 
    <ion-buttons end>
      <button ion-button icon-only (click)="verNotificaciones()" >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <h2 align="center">Contacto</h2>
  </ion-item>
  <ion-card>
    <ion-item>
         <ion-label>Tipo Contacto </ion-label>
         <ion-select  [(ngModel)]="tipo_motivo">
         <ion-option   *ngFor="let c of canales" value="{{c.id_tipo_motivo}}" (ionSelect)="selectView('motivos',c);">{{c.nombre}}
        </ion-option>
      </ion-select>
      </ion-item>
    </ion-card>
  <ion-card>
    <ion-item class="select">
      <ion-label>Motivo</ion-label>
      <ion-select [(ngModel)]="motivo" >
        <ion-option *ngFor="let m of motivos" value="{{m.id_motivo}}" (ionSelect)="selectView('motivo',m);">{{m.descripcion}}
        </ion-option>  
      </ion-select>
    </ion-item>
  </ion-card>
  <form ion-grid fixed>
    <ion-card ion-row>
      <ion-item ion-col col-12>
        <ion-label floating>Comentario</ion-label>
        <ion-textarea [(ngModel)]="body.contenido" name="Comentario"></ion-textarea>
      </ion-item>
    </ion-card>
    <div ion-col col-12 margin text-center>
      <button type="submit" ion-button icon-left (click)="enviar()">
        <ion-icon name="send"></ion-icon>
        Enviar
      </button>
    </div>
  </form>
</ion-content>