page-comunicacion {
 .select{
 	.select-text {
    	overflow: hidden;
    	-webkit-box-flex: 1;
    	-webkit-flex: 1;
    	-ms-flex: 1;
    	flex: 1;
    	min-width: 16px;
    	font-size: inherit;
    	text-overflow: ellipsis;
    	white-space: normal !important;
	}
 }
 .select-md {
    padding: 13px 8px 13px 16px;
    max-width: 75%;
 }

}