<ion-content  style="background: #42414199;">
  <div style="padding: 10%;margin-top: 20%;">
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="filtro">
      <ion-segment-button ngSelected="selected" value="filtroTop">General</ion-segment-button>
      <ion-segment-button value="filtroExtra" (click)="getFiltrables()">Extra</ion-segment-button>
    </ion-segment>
  </ion-toolbar>  
  <div class="modulo-filtro" [ngSwitch]="filtro">
    <ion-item *ngSwitchCase="'filtroTop'"> 
        <ion-card *ngFor="let r of filtro_top.ranges " >
          <h2 align="center">{{ r.titulo }} {{ r.valor }} {{ r.unidad }}</h2>
          <ion-item>
            <ion-range [(ngModel)]="r.valor" min="{{ r.min }}" max="{{ r.max }}" step="{{ r.slep }}" pin="true" [(ngModel)]="brightness" (ionChange)="rangeChange($event,r.id)">
              <ion-icon small range-left name="arrow-dropleft-circle"></ion-icon>
              <ion-icon range-right name="arrow-dropright-circle"></ion-icon>
            </ion-range>
          </ion-item>
        </ion-card>
        <ion-card>
          <button ion-button full (click)="getEspecialidades()" >
            Especialidades
          </button>
        </ion-card>
    </ion-item>
    <ion-item *ngSwitchCase="'filtroExtra'">
      <ion-list>
        <ion-item *ngFor="let f of filtrables">
          <button ion-button full (click)="selectView(f.id_tipo_parametro,f.nombre,f.parametros)" >
            {{ f.nombre }}
          </button>
        </ion-item>
      </ion-list>
    </ion-item>
  </div>
  <ion-row>
	   <ion-col center text-center>
  		  <button ion-button color="third" block (click)="dismiss()" >Cancelar</button>
  	 </ion-col>
  	 <ion-col center text-center>
  		  <button ion-button color="primary" block (click)="aceptar()" >Aplicar</button>
  	 </ion-col>
  </ion-row>
  </div>
</ion-content>